
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #c7c3c3;
    color: white; 
    padding: 5px; 
  }

.footer-block {
    display:inline-block;
    margin-right: 80px;
}

.social-icon {
    margin-right: 20px;
    font-size: 30px;
}

.footer-block-icon{
    display:inline-block;
    margin-right: 50px;
    transform: translateY(-100%)
}


